
$black:   #2d2d2d;

$gold:    #c7aa6a;

$grey:    #9e9e9e;
$dk-grey: #555;

$pink:    #f7938e;
$red:     #df5851;
$dk-red:  #c23e38;

$lt-green: #b8dfdb;
$green:    #415b58;
$dk-green: #447d77;





$lt-grey:   #ecf0f1;
$grey:      #bdc3c7;

$dk-red:    #c0392b;

$blue:      #3498db;
$dk-blue:   #2980b9;
$navy:      #2c3e50;

$green:     #2ecc71;
$dk-green:  #27ae60;

$yellow:    #f1c40f;
$dk-yellow: #f39c12;

$orange:    #e67e22;
$dk-orange: #d35400;
