
$ampersand: image-url("ampersand.svg");
$the-date: image-url("the-date.svg");
$marker: image-url("marker.svg");
$bg-map: image-url("bg-map.png");
$hotel-allegro: image-url("hotel-allegro.svg");
$radio-check: image-url("radio-check.svg");

$bg-header: image-url("bg-header.jpg");
$bg-date: image-url("bg-date.jpg");
$bg-rsvp: image-url("bg-rsvp.png");
$bg-party: image-url("bg-party.png");

