
$ampersand: image-url("ampersand.svg");

$bg-header: image-url("bg-header.jpg");
$bg-date: image-url("bg-date.jpg");
$bg-rsvp: image-url("bg-rsvp.png");
$bg-party: image-url("bg-party.png");

$bg-map: image-url("bg-map.png");