
$sans: 'Gotham SSm A', 'Gotham SSm B', Helvetica, arial, sans-serif;
$goth: 'Gotham SSm A', 'Gotham SSm B', Helvetica, arial, sans-serif;
$idle: 'Idlewild SSm A', 'Idlewild SSm B', Helvetica, arial, sans-serif; /* 500 */
$knock-26: 'Knockout 26 A', 'Knockout 26 B', Helvetica, arial, sans-serif;
$knock-27: 'Knockout 27 A', 'Knockout 27 B', Helvetica, arial, sans-serif;

$book:  400;
$semi:  500;
$bold:  700;

$base:  24px;

body {
  color: $dk-grey;
  font: $book 1em/1.5em $goth;
}

h1,h2,h3,h4,h5 {
  line-height: 1;
}

h1 {
  @include font-size(172px);
  color: $gold;
  font-family: $knock-26;
  letter-spacing: 0.068em;
  text-transform: uppercase;
}

h2 {
  @include font-size(25px);
  margin-bottom: $base*2;
  padding-top: $base*3;
  font-family: $idle;
  font-weight: $semi;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

/*
p {
  @include font-size(14px);
}
*/

strong {
  font-weight: $bold;
}

em {
  font-style: italic;
}

.label {
  color: $dk-grey;
  font-weight: $bold;
}

.body p,
.body ul,
.body ol {
  margin-bottom: $base;

  &:last-child, &.label {
    margin-bottom: 0;
  }
}

.body ul,
.body ol {
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}
