
.date {
  padding-bottom: 10px;
  text-align: center;
  background: $lt-green $bg-date no-repeat center center;
  background-size: cover;
  
  h2 {
    margin-bottom: $base*5;
  }
  
  .date-svg {
    width: 225px;
    height: 227px;
    margin: 0 auto $base*4;
    background: $the-date no-repeat;
  }
  
  .intro {
    @include font-size(16px);
    max-width: 500px;
    margin: 0 auto $base*3;
    line-height: 1.5;
  }
  
  .note {
    @include font-size(10px);
    color: $dk-green;
    font-weight: $bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}