
.party-header {
  background: $lt-green $bg-party no-repeat center bottom;
  background-size: contain;
  text-align: center;
  
  h2 {
    color: $red;
  }
  
  p {
    max-width: 460px;
    margin: 0 auto $base*4;
  }
  
  .rv {
    width: 405px;
    margin: 0 auto;
  }
}

.party-content {
  padding: $base*3 0;
  background: $green;
  
  p {
    @include font-size(14px);
    max-width: 460px;
    margin: 0 auto 16px;
    color: $lt-green;
  }
}